@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #F2C12E, #F2AE30);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(52, 36, 22, 0.7);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #A1A2A6;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(50, 50, 52, 0.8);
}

h2{
    color: #593E25;
}

p {
    text-align: justify;
}