@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #84E1AD;
}

.fontAndroid {
    font-family: Android;
    color: #005424;
}

header {
    width: 100%;
    background-image: linear-gradient(180deg, #3DDA84, #1A5C38);
}

header > h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    padding: 20px;
    margin-top: 0;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.8);
}

header > p {
    text-align: center;
    color: white;
    font-weight: lighter;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.8);
}

main {
    padding: 30px;
    margin: auto;
    background-color: white;
    align-items: center;
    width: 70%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px -3px black;
}

main > h1 {
    margin: 0;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
}

main > h2 {
    text-indent: 10px;
    background-image: linear-gradient(to right, #C4EBD5,#DFF4E8 ,#F7FCF9);
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
}

p {
    text-align: justify;
    text-indent: 20px;
}

.imagens {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.paginas {
    color: white;
    font-weight: bold;
    text-decoration: None;
    margin: 10px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.7);
}

.paginas:hover {
    text-decoration: underline;
}

.destaque {
    color: #203d2d;
    font-weight: bold;
}

main > p > a::after{
    content: '[link]';
    font-weight: lighter;
    font-size: 0.7em;
}

.divVideo {
    margin: 0px -30px 0px -30px;
    padding: 20px;
    background-color: #1A5C38;
}

.video {
    display: block;
    max-width: 80%;
    margin: 0 auto;
}

div > h3 {
    color: white;
    background-color: #2FA866;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    margin: 20px -20px 20px -20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

.lista {
    padding: 0px 20px;
    background-color: #C5EBD6;
    border-radius: 5px;
    padding-bottom: 5px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.5);
}

ul {
    columns: 2;
    list-style: none;
    padding: 0;
}

li::before {
    content: '\2714';
    margin-right: 10px;
    font-weight: bold;
}

div > p > a::after {
    content: '[link]';
    font-weight: lighter;
    font-size: 0.7em;
}

footer {
    background-color: #1A5C38;
    padding: 10px;
    margin: 20px -20px -20px -20px;
}

footer > p {
    margin: 0;
    text-align: center;
    color: white;
    font-weight: lighter;
    font-style: italic;
}

footer > p > span {
    font-weight: bold;
}